$secondary-color: #006cad;
nav {
  background: white;
  ul {
    a {
      color: $secondary-color;
      font-weight: 500;
    }
  }
  .sidenav-trigger {
    color: black;
  }
}
.sidenav-fixed {
  top: 65px;
  .background {
    background: $secondary-color;
  }
}
.brand-logo {
  img {
    width: 100px;
    margin-top: 5px;
    margin-left: 30px;
  }
}
