<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            <img src="../../../assets/images/bci-logo.png" alt="">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li class="active">
                <a href="sass.html">CUENTA</a>
            </li>
            <li>
                <a href="badges.html">COMPRA/VENDER</a>
            </li>
            <li>
                <a href="collapsible.html">EXCHANGE</a>
            </li>
            <li>
                <a href="mobile.html">AJUSTES</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="sass.html">CUENTA</a>
    </li>
    <li>
        <a href="badges.html">COMPRA/VENDER</a>
    </li>
    <li>
        <a href="collapsible.html">EXCHANGE</a>
    </li>
    <li>
        <a href="mobile.html">AJUSTES</a>
    </li>
</ul>