$primary-color: #00a94a;
$secondary-color: #006cad;
.card-content {
  min-height: 110px;
  h2 {
    margin-top: 5px;
    font-weight: 600;
  }
}
.main-credits {
  button {
    margin-top: 10px;
  }
  .pagar {
    background: $secondary-color;
  }
  .solicitar {
    background: $primary-color;
  }
}
